name: Run tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allow-failure }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ["1.11", "1", "pre"]
        julia-arch: [x64]
        os: [ubuntu-latest]
        allow-failure: [false]
        include:
          - julia-version: "nightly"
            julia-arch: x64
            os: ubuntu-latest
            allow-failure: true

    steps:
      - uses: actions/checkout@v2
      - uses: serenity4/julia-lavapipe@v1
      - uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.ENV_KEY }}
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@latest
        with:
          localregistry: |
            git@github.com:serenity4/Graphics
            git@github.com:JuliaRegistries/General
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v2
        with:
          files: lcov.info
    env:
      JULIA_PKG_USE_CLI_GIT: true
